body {
    background: rgb(114, 114, 114);
}

#gamesContainer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
}

.individualGames {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 900px;
}

.gameTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    width: 700px;
    height: 50px;
    text-align: center;
}

.caption {
    font-size: 40px;
    width: 600px;
    height: 50px;
    margin-left: 50px;
}

#myGameBoard > div {
    height: 20px;
    width: 20px;
    position: absolute;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: large;
} 

p {
    color: rgb(0, 0, 0);
    font-size: large;
}

h1 + p {
    color: rgb(0, 0, 0);
    font-size: large;
    margin-left: 50px;
}

button {
    position: relative;
    top: 170px;
    left: 250px;
    height: 60px;
    width: 100px;
}

#myGameBoard {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    width: 600px;
    background-color: black;
}

.snakeTile,
.foodTile {
    height: 20px;
    width: 20px;
    position: absolute;
    background-color:white;
}

.wallTile {
    background-color:rgb(72, 72, 72);
}





#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(114, 114, 114);
}

#game-board{
    background-color: black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    display: grid;  
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

#stats,
#stats2 {
    width:600px;
    margin-left: auto;
    margin-right: auto;
    background:rgb(114, 114, 114); 
    color: white;
    display: flex;
    font-size: x-large;
    justify-content: center;
}

.snake {
    background-color: white;
    border: .25vmin solid black;
}

.food {
    background-color: white;
    border: .25vmin solid black;
}
